*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family:Calibri;

    text-align: center;
    
}
img{
    max-width: 40%;
    height: 30%;
    border-radius: 55px;
    padding-top: 20px;
    text-align: center;
}
body{
    background-image:url("vjs.jpg") ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
    
}

.login{
    padding:20px;
    width: 300px;
    height:400px;
    border-radius: 4px;
    margin:auto;
    margin-top:50px;
    position: relative;


}
a{
    text-decoration-line:none;
}

input, button{
    width: 100%;
    border: 0;
    border-radius: 20px;
}

input{
    border-bottom: 2px solid#444;
    padding: 12px 40px 12px 20px;
}

input, button, .group i, p, a{
    font-size: 13.3333px;
    font-weight: 600;

}
.group{
    
    margin-bottom: 10px;
    position: relative;
    text-align: center;
   
}

.group i{
    position: absolute;
    top: 15px;
    right: 20px;
}
button{
    padding: 12px;
    background-image: linear-gradient(to right,#268ceb,rgb(187, 211, 226));
    margin-bottom: 20px;
    cursor: pointer;
}

button i{
    margin-right:5px ;
}
button,button i{
    color:rgb(189, 35, 35);
}

p{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
}
input:focus,input:focus::placeholder,input:focus+i{
    color:rgb(189, 35, 35);

}
input:focus, button:focus{
    outline:0;
}


@media(max-width: 767px){
    body:before,body:after{
        height:100px;
        width: 200px;

    }
}
